<!DOCTYPE HTML>

<html>

	<head>
		<title>Geoindoor</title>
		 <link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		
	</head>

	<body>
		<div class = "titulo"><h1 onclick="location.href='http://stackoverflow.com'">Geoindoor</h1></div>
		<div class = "menu" >
			<div class = "verticalcenter" >
				<button class = "boton" onclick="location.href='http://stackoverflow.com'">
				<img class="imgboton" src="Imagenes/viewer.png">
				Viewer
				</button>
				</br>
				</br>
				<button class = "boton" onclick="location.href='http://stackoverflow.com'"><img class="imgboton" src="Imagenes/architect.png">
				Architect
				</button>
			</div>
		</div>
		

	</body>

</html>